<div class="row container-fluid" style="background-color: black;  color: white;">
    <div class="col-lg-3 px-5 py-3 ">
        <h3>Usefull Link</h3>
        <p>Home</p>
        <p>Services</p>
        <p>Contact us</p>
    </div>
    <div class="col-lg-3 px-5 py-3">
        <h3>LEGAL LINK</h3>LEGAL LINK
        <P>PRIVACY POLICY</P>
        <P>TERMS & CONDITIONS</P>
        <P>FAQ</P>
        <P>DISCLAIMER</P>
    </div>
    <div class="col-lg-3 px-5 py-3">
        <h3>SERVICES</h3>
        <p>WEB DEVELOPMENT</p>
        <p>ENTERPRISE DEVELOPMENT</p>
        <p>MOBILE APP DEVELOPMENT</p>
        <p>AI,ML AND DATA SCIENCE</p>
        <p>DATA ENGINEERING</p>
        <p>SOFTWARE PRODUCT ENGEERING</p>
    </div>
    <div class="col-lg-3 p-3">
        <h3 class="text-center" style="border-radius: 10px; border: 5px solid blue; width: 50%; background-color: white; color: black;">RBIS</h3>

    </div>
    <hr>
    <div class="d-flex justify-content-center align-items-center">
    <p>Copyright © 2023 RBIS Technology Private Limited. All Rights Reserved.</p>
    </div>
</div>

