<div class="bg-info container-fluid h-100 p-0 m-0" style="padding-top: 80px !important;">
<p style="color: black;">about works!</p>
<h1>helllo</h1>
<div class="bg-danger d-flex" style="height: 500px; width: 100%;">
    <div class=" bg-warning d-flex" style="height: 250px; width: 250px;">
        <h1>ok</h1>
        <h1>what</h1>
    </div>
    <div class=" bg-success" style="height: 250px; width: 250px;">ok</div>
    <div class=" bg-primary" style="height: 250px; width: 250px; position:sticky; top: 30px;">ok</div>
    <div class=" bg-light" style="height: 250px; width: 250px;">ok</div>
</div>
</div>
