<nav class="navbar container-fluid navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DBook Inc</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" style="margin-left: auto">
        <li class="nav-item">
          <a class="nav-link mx-2 active" routerLink="" aria-current="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="product">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="portfolio">portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="employees">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="d">Gallery</a>
        </li>
        <li class="nav-item bg-info" style="border-radius: 10px">
          <a class="nav-link mx-2" routerLink="contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
