.nav-items{
    display: flex !important;
    flex-direction: row;
    justify-content: end !important;
}
.navbar{
    position: fixed;
    top: 0%;
    background-color: rgb(236, 230, 230);
    width: 100%;
    z-index: 100;
}