.container-fluid{
    width: 70%;
    margin: auto;
    padding-top: 90px;
}
.contact-container{
    background-color: #f6f6f6f2;
    border-color: #fff;
}
.rbis-logo img{
    height: 50px;
    width: 185px;
}

@media (max-width:500px){
    .container-fluid{
        width: 90% !important;
    }
}