<div class="container-fluid overflow-hidden">
  <div
    style="padding-top: 50px"
    data-aos="zoom-out-left"
    data-aos-duration="3000"
    class="container-fluid px-0 port-main-cont"
  >
    <img class="w-100 port-back-img" src="\assets\portfolio-banner.jpg" />
    <div class="hed-div" style="width: 50%">
      <h1>Services</h1>
      <h3>home > Portfolio</h3>
    </div>
  </div>
  <div class="container mx-auto">
    <div class="row mt-5">
      <div class="col">
        <div class="portfolio-discription-border">
          <div class="portfolio-thumb">
            <img class="port-img" src="\assets\aerem.png" />
          </div>
          <div
            class="portfolio-content"
            data-aos="fade-left"
            data-aos-duration="500"
            data-aos-easing="ease-in-out-cubic"
            data-aos-once="true"
          >
            <div>
              <h1>Aerem Aggregator Platform</h1>
            </div>
            <div>
              <p>
                Aerem's platform aims to empower individuals, businesses, and
                organizations to harness the potential of solar energy by
                offering a wide range of quality products at competitive prices.
              </p>
              <p style="font-weight: 500; margin-bottom: 0.6rem">TECHNOLOGY</p>
              <span>Next js,Node js,PostgreSQl</span>
              <div>
                <button class="btn-info btn px-5 py-2 mt-3">View More</button>
              </div>
            </div>
          </div>
          <div class="portfolio-border"></div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="portfolio-discription-border">
          <div class="d-lg-none portfolio-thumb">
            <img class="port-img" src="\assets\tata.png" />
          </div>
          <div
            class="portfolio-content"
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-easing="ease-in-out-cubic"
            data-aos-once="true"
          >
            <div>
              <h1>Borrowing Analytics Tool</h1>
            </div>
            <div>
              <p>
                This powerful software provides valuable insights and analysis
                for borrowers and lenders, enabling data-driven decisions. With
                features like loan comparison, affordability analysis,
                amortization schedules, and credit risk assessment, users can
                make informed choices tailored to their unique financial needs.
              </p>
              <p style="font-weight: 500; margin-bottom: 0.6rem">TECHNOLOGY</p>
              <span>Next js,Node js,PostgreSQl</span>
              <div>
                <button class="btn-info btn px-5 py-2 mt-3">View More</button>
              </div>
            </div>
          </div>
          <div class="d-none d-lg-block portfolio-thumb">
            <img class="port-img" src="\assets\tata.png" />
          </div>
          <div class="portfolio-border-right"></div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="portfolio-discription-border">
          <div class="portfolio-thumb">
            <img class="port-img" src="\assets\SBI.png" />
          </div>
          <div
            class="portfolio-content"
            data-aos="fade-left"
            data-aos-duration="500"
            data-aos-easing="ease-in-out-cubic"
            data-aos-once="true"
          >
            <div>
              <h1>Automated Investment Memorandum Generator</h1>
            </div>
            <div>
              <p>
                Welcome to InsureMemoGen, an innovative project that
                revolutionizes the way investment memorandums are generated for
                general insurance companies.
              </p>
              <p style="font-weight: 500; margin-bottom: 0.6rem">TECHNOLOGY</p>
              <span>PowerApps, SQL Server</span>
              <div>
                <button class="btn-info btn px-5 py-2 mt-3">View More</button>
              </div>
            </div>
          </div>
          <div class="portfolio-border"></div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="portfolio-discription-border">
          <div class="d-lg-none portfolio-thumb">
            <img class="port-img" src="\assets\RCS.png" />
          </div>
          <div
            class="portfolio-content"
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-easing="ease-in-out-cubic"
            data-aos-once="true"
          >
            <div>
              <h1>RCS Production App</h1>
            </div>
            <div>
              <p>
                The purpose of the Production App module is to maximize worker
                efficiency around the processing of donated products to be sold
                on the retail sales floor of a thrift organization. The
                production module is a reactive web application.
              </p>
              <p style="font-weight: 500; margin-bottom: 0.6rem">TECHNOLOGY</p>
              <span>Angular js, C#.Net</span>
              <div>
                <button class="btn-info btn px-5 py-2 mt-3">View More</button>
              </div>
            </div>
          </div>
          <div class="d-none d-lg-block portfolio-thumb">
            <img class="port-img" src="\assets\RCS.png" />
          </div>
          <div class="portfolio-border-right"></div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="portfolio-discription-border">
          <div class="portfolio-thumb">
            <img class="port-img" src="\assets\apical.png" />
          </div>
          <div
            class="portfolio-content"
            data-aos="fade-left"
            data-aos-duration="500"
            data-aos-easing="ease-in-out-cubic"
            data-aos-once="true"
          >
            <div>
              <h1>Apical Platform</h1>
            </div>
            <div>
              <p>
                APICAL EXIMS is a comprehensive application designed to
                efficiently manage and maintain records related to Export-Import
                operations. The application focuses on various critical aspects
                of the export-import process, including PCFC (Pre-shipment
                Credit in Foreign Currency), PCFC Repayment, shipping details,
                invoices, receipts, and advance receipts.
              </p>
              <p style="font-weight: 500; margin-bottom: 0.6rem">TECHNOLOGY</p>
              <span>Angular js, C#.Net, MSSQL</span>
              <div>
                <button class="btn-info btn px-5 py-2 mt-3">View More</button>
              </div>
            </div>
          </div>
          <div class="portfolio-border"></div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="portfolio-discription-border">
          <div class="d-lg-none portfolio-thumb">
            <img class="port-img" src="\assets\apar.png" />
          </div>
          <div
            class="portfolio-content"
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-easing="ease-in-out-cubic"
            data-aos-once="true"
          >
            <div>
              <h1>Apar Platform</h1>
            </div>
            <div>
              <p>
                The "APAR-DIGITreasury"" project aims to streamline and automate
                the accounting and hedging processes for commodities (metals)
                and currencies within the classification of cables and
                conductors.
              </p>
              <p style="font-weight: 500; margin-bottom: 0.6rem">TECHNOLOGY</p>
              <span>Angular js, C#.Net, MSSQL</span>
              <div>
                <button class="btn-info btn px-5 py-2 mt-3">View More</button>
              </div>
            </div>
          </div>
          <div class="d-none d-lg-block portfolio-thumb">
            <img class="port-img" src="\assets\apar.png" />
          </div>
          <div class="portfolio-border-right"></div>
        </div>
      </div>
    </div>
  </div>
</div>
