<div class="">
  <div class="row vh-100 p-0 m-0">
    <div
      class="product-div col-sm-12 col-lg-6 d-flex justify-content-end align-items-center"
    >
      <div class="huntscaler card">
        <h1 class="fw-bold">
          <span>TRENDY</span>
          <span style="color: #0dcaf0">BURST</span>
        </h1>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 ml-5 product-div d-flex align-items-center">
      <div class="huntscaler card">
        <h1 class="fw-bold">
          <span>HUNT</span>
          <span style="color: #0dcaf0">SCALER</span>
        </h1>
      </div>
    </div>
  </div>
</div>
