<div
  class="container-fluid vh-100 bg-info home"
  data-aos="zoom-out"
  data-aos-duration="3000"
>
  <div class="px-5 d-flex align-items-center" data-aos="fade-right">
    <div class="para-div" style="width: 30%; margin-top: 15%">
      <p class="first-p" style="color: white; font-size: 48px">
        Transforming Ideas into Seamless Solutions Your Vision, Our Code
      </p>
      <p style="color: blue; font-size: 20px">
        We are techies, we build what you imagine
      </p>
    </div>
  </div>
</div>
<div class="vh-100 container-fluid row">
  <div
    class="col-lg-6 col-sm-12 d-flex justify-content-center align-items-center"
    data-aos="fade-right"
  >
    <img
      class="office-work-img"
      style="height: 60%; width: 70%"
      src="assets\office-workers-using-finance-graphs_23-2150408645.avif"
      alt="image"
    />
  </div>
  <div
    class="col-lg-6 col-sm-12 d-flex align-items-center justify-content-center"
    data-aos="fade-left"
  >
    <div>
      <h6>About us</h6>
      <h2>Who We Are?</h2>
      <p class="">
        We are the start-up India recognized company established with the vision
        to build a value chain of corporates, industrialists, and changemakers
        by delivering digital business acceleration, customized tech solutions,
        and secured encryptions. With a promise to deliver tech that helps our
        clients to drive business and growth, we at RBIS Technology Pvt Ltd are
        your trusted Technological Solutions and Product Partners. By combining
        our deep technical expertise and industry experience, we strive to offer
        digital solutions and tailor made SAAS products for businesses.We
        believe in equipping our clients with the answers for what’s next in
        Tech, beforehand. Our proven solutions offer a unique competitive
        advantage for our clients and empower them to envision beyond.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid h-auto why-rbis">
  <div class="d-flex justify-content-center" style="padding-top: 20px">
    <span style="font-size: 48px">Why RBIS ?</span>
  </div>
  <div class="text-center container-fluid d-flex justify-content-center">
    <p style="font-size: 20px; width: 80%">
      Our strength lies in our ability to seamlessly merge technical expertise
      with creative problem-solving, empowering our clients to thrive in an
      ever-evolving digital landscape.
    </p>
  </div>
  <div class="container-fluid">
    <div class="h-auto row mx-auto my-3" style="width: 75%">
      <div class="col-lg-3 col-md-6 col-sm-6 mx-auto my-2">
        <div
          data-aos="fade-right"
          class="card why-rbis-cards"
          style="height: 200px; width: 100%"
        >
          <img
            class="card-img-top"
            src="assets\innovative.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Innovative Solutions</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 m-auto my-2">
        <div
          data-aos="fade-right"
          class="card why-rbis-cards"
          style="height: 200px; width: 100%"
        >
          <img
            class="card-img-top"
            src="assets\result.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Proven Result</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 m-auto my-2">
        <div
          data-aos="fade-left"
          class="card why-rbis-cards"
          style="height: 200px; width: 100%"
        >
          <img
            class="card-img-top"
            src="assets\quality.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Quality Assurance</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 my-2">
        <div
          data-aos="fade-left"
          class="card why-rbis-cards"
          style="height: 200px; width: 100%"
        >
          <img
            class="card-img-top"
            src="assets\teamwork.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Team Work</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="h-auto row py-5 mx-auto" style="width: 75%">
      <div class="col-lg-4 col-sm-12 col-md-4 mx-auto my-2">
        <div
          data-aos="fade-right"
          class="card why-rbis-cards"
          style="height: 200px; width: 100%"
        >
          <img
            class="card-img-top"
            src="assets\customer.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Smooth Customer Experience</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-4 mx-auto my-2">
        <div
          data-aos="fade-up"
          class="card why-rbis-cards"
          style="height: 200px; width: 100%"
        >
          <img
            class="card-img-top"
            src="assets\partner.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Dedication as Partnear</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-4 mx-auto my-2">
        <div
          data-aos="fade-left"
          class="card why-rbis-cards"
          style="height: 200px; width: 100%"
        >
          <img
            class="card-img-top"
            src="assets\relation.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Strong Client Relationships</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid h-auto">
  <div class="d-flex justify-content-center mt-5">
    <h1>Our Services</h1>
  </div>
  <div class="h-auto row py-5 mx-auto" style="width: 75%">
    <div class="col-lg-4 col-sm-12 col-md-4 mx-auto my-2">
      <div
        data-aos="fade-up"
        class="card service-card"
        style="position: relative; height: 400px; width: 100%"
      >
        <img
          style="height: 400px !important; width: 100% !important"
          src="assets/service-web-dev.jpg"
          alt=""
        />
        <div class="card-body">
          <h5 class="card-title" style="color: white">
            Web and Mobile Development
          </h5>
          <p style="color: white">
            We are disruptive startup to deliver world-class mobile experiences
            across multiple devices. Our app team works across the entire app
            development lifecycle, from wireframing and design, right through to
            building, releasing and maintaining.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-4 mx-auto my-2">
      <div
        data-aos="fade-up"
        class="card service-card"
        style="position: relative; height: 400px; width: 100%"
      >
        <img
          style="height: 400px !important; width: 100% !important"
          src="assets/service-sd.jpg"
          alt=""
        />
        <div class="card-body">
          <h5 class="card-title" style="color: white">
            Enterprise Product Development
          </h5>
          <p style="color: white; width: 80%">
            We provide quick ideation, prototyping, MVP development to ensure
            that your product meets the needs of the market. At every stage of
            your product development cycle, we can help you scale and expand
            your business to a new level.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-4 mx-auto my-2">
      <div
        data-aos="fade-up"
        class="card service-card"
        style="position: relative; height: 400px; width: 100%"
      >
        <img
          style="height: 400px; width: 100%"
          src="assets/service-ml.jpg"
          alt=""
        />
        <div class="card-body">
          <h5 class="card-title" style="color: white">Machine Learning</h5>
          <p style="color: white; width: 80%">
            We are disruptive startup to deliver world-class mobile experiences
            across multiple devices. Our app team works across the entire app
            development lifecycle, from wireframing and design, right through to
            building, releasing and maintaining.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid d-flex justify-content-center">
  <button class="btn btn-primary" style="border-radius: 8px; width: 250px">
    EXPLORE OUR SERVICES
  </button>
</div>
<div class="container-fluid text-center" style="margin-top: 50px">
  <p>Our Prestigious clients</p>
  <h1 class="my-2">Logos with us</h1>
</div>

<div class="container-fluid feedback-container">
  <div class="feedback-fg">
    <div class="d-flex justify-content-center align-items-center pt-5">
      <h1 style="color: white">WHAT OUR CUSTOMERS SAY</h1>
    </div>

    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner mt-4">
        <div class="carousel-item text-center">
          <div class="" style="color: white">
            <h5>
              It was a great experience working with RBIS people. Genuine,
              transparency are the key things which I can see. Good time
              management and managed critical deliveries.
            </h5>
          </div>
          <div class="d-flex justify-content-center my-5">
            <img
              src="assets\feedback-jeet.jpg"
              class="d-block fd-profile-img"
              alt="..."
            />
            <div class="mx-4">
              <h4>Jeet Shah</h4>
              <h4>(EY)</h4>
            </div>
          </div>
        </div>
        <div class="carousel-item active text-center">
          <div class="" style="color: white">
            <h5>
              It was a great experience working with RBIS people. Genuine,
              transparancy are the key things which i can see. Good time
              management and managed critical deliveries.
            </h5>
          </div>
          <div class="d-flex justify-content-center my-5">
            <img
              src="assets\feedback-wasudev.jpg"
              class="d-block fd-profile-img"
              alt="..."
            />
            <div class="mx-4">
              <h4>WASUDEV MISHRA</h4>
              <h4>(Procohat)</h4>
            </div>
          </div>
        </div>
        <div class="carousel-item text-center">
          <div class="" style="color: white">
            <h5>
              Working with RBIS was a delight.Their professionalism,
              responsiveness, and expertise made the entire process smooth and
              enjoyable. Thank you for the outstanding support
            </h5>
          </div>
          <div class="d-flex justify-content-center my-5">
            <img
              src="assets\profile.png"
              class="d-block fd-profile-img"
              alt="..."
            />
            <div class="mx-4">
              <h4>Prashant Karade</h4>
              <h4>(AEREM)</h4>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div class="row container-fluid contact-container">
  <div class="col-md-10 col-lg-10 mx-auto" style="padding-top: 50px">
    <div>
      <h1>
        CONTACT US <br />
        WE LOVE TO HEAR FROM YOU
      </h1>
    </div>
    <form
      #contactForm="ngForm"
      (ngSubmit)="getContactFormData(contactForm.value)"
    >
      <div class="row" style="margin-top: 1.5rem">
        <div class="col-sm-12 col-md-4">
          <div class="form__group field input-div mx-lg-0 mx-auto">
            <input
              class="contact-input w-100 w-md-50"
              ngModel
              name="name"
              type="text"
              placeholder="First name"
            />
            <label class="contact-label" for="name">First Name*</label>
          </div>
          <div
            class="form__group field input-div mx-lg-0 mx-auto"
            style="margin-top: 1.5rem"
          >
            <input
              class="contact-input w-100 w-md-50"
              ngModel
              name="lastname"
              type="text"
              placeholder="Last name"
            />
            <label class="contact-label" for="lastname">Last Name</label>
          </div>
          <div
            class="form__group field input-div mx-lg-0 mx-auto"
            style="margin-top: 1.5rem"
          >
            <input
              class="contact-input w-100 w-md-50"
              ngModel
              name="number"
              type="text"
              placeholder="number"
            />
            <label class="contact-label" for="number">Number</label>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="input-div mx-lg-0 mx-auto">
            <input
              class="contact-input w-100 w-md-50"
              ngModel
              id="business"
              name="business"
              type="text"
              placeholder="business"
            />
            <label class="contact-label" for="business">Business</label>
          </div>
          <div class="input-div mx-lg-0 mx-auto">
            <textarea
              rows="4"
              class="contact-input w-100 w-md-50"
              ngModel
              name="message"
              placeholder="message"
            ></textarea>
            <label class="contact-label" for="message">Message</label>
            <br />
            <button class="contact-btn">Submit</button>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 mt-5">
          <div class="px-lg-0 px-5">
            <h6 style="font-size: 1.3rem">EMAIL US</h6>
            <h6
              style="
                color: #0dcaf0;
                font-size: 1.5rem;
                word-break: break-word;
                white-space: pre-line;
              "
            >
              CONTACT@RBISTECH.COM
            </h6>
          </div>
          <div class="mt-5 px-lg-0 px-5">
            <h6 style="font-size: 1.3rem">CALL US</h6>
            <h6 style="color: #0dcaf0; font-size: 1.5rem">+91 9356444317</h6>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div
  class="container-fluid d-flex justify-content-center align-items-center py-5"
  style="width: 100%; height: auto"
>
  <div
    class="bg-info d-flex row"
    style="width: 85%; height: auto; border-radius: 15px"
  >
    <div class="col-md-6 col-sm-12">
      <h4 class="" style="position: relative; top: 38%">
        Got A Question? We Would Be Happy To Help!
      </h4>
    </div>
    <div class="col-md-6 col-sm-12 d-flex justify-content-end">
      <h4
        class="bg-dark px-5 my-4"
        style="
          text-align: center !important;
          height: 50px;
          width: 300px;
          font-size: 20px;
          color: white;
          border-radius: 20px;
          padding: 0.8rem;
        "
      >
        Chat Coming Soon...
      </h4>
    </div>
  </div>
</div>
